{% comment %} <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        This is about us page
    </h1>
</body>
</html> {% endcomment %}


{% comment %} {% include 'base.html' %}

{% block code %}
<h1>Bht Famous hai bhai<h1>

{% endblock %} {% endcomment %}
{% include 'base.html' %}

{% block code %}
<h1>Bht Famous hai bhai</h1>

{% endblock %}
