{% comment %} <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        This is the contact page 
    </h1>
</body>
</html> {% endcomment %}

{% comment %} 
{% include 'base.html' %}

{% block code %}
<h1>Bs naam hai kaafi hai</h1?

{% endblock %} {% endcomment %}

{% include 'base.html' %}

{% block code %}
<h1>Bs naam hi kaafi hai</h1>

{% endblock %}

